<!-- Navbar -->
<div ng-include="'resources/app/menu/navbar.html'"></div>

<div class="app-body">
    <!-- Navigation -->
    <div ng-include="'resources/app/menu/sidebar-nav.html'"></div>
    <div ui-view="header"></div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>
        </ol>

        <div class="container-fluid">
            <div ui-view="content"></div>
        </div>
        <!-- /.conainer-fluid -->
        
        <div ui-view="footer"></div>
    </main>
</div>
