<div class="animated fadeIn">
    <!-- actionbar -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <button class="btn btn-sm btn-link" onclick="history.back()"><i class="icon-arrow-left"></i></button>
                    <button ng-if="$ctrl.customer.id" type="submit" class="btn btn-sm btn-success"><i class="icon-doc"></i> New Invoice</button>
                    
                    <div class="pull-right">
                        <button ng-click="$ctrl.save()" ng-disabled="!$ctrl.customer" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i> 
                            {{ $ctrl.customer.id ? 'Save changes' : 'Create Customer' }}
                        </button>
                        <button ng-if="$ctrl.customer.id" ng-click="$ctrl.addBankDetails()" class="btn btn-secondary btn-sm" type="button"><i class="icon-add"></i> Add Bank Details </button>
                        <button ng-if="$ctrl.customer.id" ng-click="$ctrl.reload()" class="btn btn-secondary btn-sm" type="button"><i class="icon-reload"></i> Reload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <jsui-messages></jsui-messages>
    

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Personal Data</h4>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Title</label>
                        <div class="col-md-10">
                            <input ng-model="$ctrl.customer.title" type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Firstname</label>
                        <div class="col-md-10">
                            <input ng-model="$ctrl.customer.firstName" type="text" class="form-control" placeholder="Enter customer firstName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Name</label>
                        <div class="col-md-10">
                            <input ng-model="$ctrl.customer.name" jsui-validate="CustomerBE.name" type="text" class="form-control" placeholder="Enter customer name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Address</div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Street</label>
                        <div class="col-md-10">
                            <input ng-model="$ctrl.customer.street" type="text" class="form-control" placeholder="Street and number">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">City</label>
                        <div class="col-md-4">
                            <input ng-model="$ctrl.customer.postCode" jsui-validate type="text" class="form-control" placeholder="Post Code">
                        </div>
                        <div class="col-md-6">
                            <input ng-model="$ctrl.customer.city" type="text" class="form-control" placeholder="City">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-form-label col-md-2">Country</label>
                        <div class="col-md-10">
                            <input ng-model="$ctrl.customer.country" type="text" class="form-control" placeholder="Country">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Contact Data</div>
                <div class="card-block">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Phone</label>
                                <div class="col-md-10">
                                    <input ng-model="$ctrl.customer.contactData.phone" type="text" class="form-control" placeholder="Phone number">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Mobile</label>
                                <div class="col-md-10">
                                    <input ng-model="$ctrl.customer.contactData.mobilePhone" type="text" class="form-control" placeholder="Mobile phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Email</label>
                                <div class="col-md-10">
                                    <input ng-model="$ctrl.customer.contactData.email" type="text" class="form-control" placeholder="Customer email">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-md-2">Fax</label>
                                <div class="col-md-10">
                                    <input ng-model="$ctrl.customer.contactData.fax" type="text" class="form-control" placeholder="Customer fax">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row"  ng-repeat="bankDetail in $ctrl.customer.bankDetails">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Bank Details</div>
                <div class="card-block">
                    <h4 class="card-title">Bank Details</h4>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>